@import "styles/index.scss";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/form/shared.sass";
@import "~bulma/sass/form/tools.sass";
@import "~bulma/sass/form/select.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/icon.sass";

div.city-block-chart.card {



}