@import "styles/index.scss";
@import "~bulma/sass/elements/other.sass";

$modal-card-head-background-color: white;
$city-config-modal-width: 90vw;

div.modal-card {
    width: $city-config-modal-width;

    .modal-card-head,
    .modal-card-foot {
        background-color: $modal-card-head-background-color;
    }

    .modal-card-body {
        margin-bottom: 0;
        max-width: none;
        height: 80vh;
        width: $city-config-modal-width;

        div.columns.body-columns {
            min-height: 100%;
        }
    }
}
