@import "styles/index.scss";

.city-block-current {
  & .current-stat {
    border-top: 1px solid $grey-lighter !important;

    &:hover {
      background-color: $grey-lightest;

      span.icon {
        color: $primary;
      }
    }

    abbr {
      cursor: help;
    }
  }
}
