@import "styles/index.scss";

div.city-block-current.box {
  box-shadow: none;
  border: 1px solid $grey-lighter;

  & .current-stat {
    border-top: 1px solid $grey-lighter !important;

    &:hover {
      background-color: $grey-lightest;

      span.icon {
        color: $primary;
      }
    }

    abbr {
      cursor: help;
    }
  }
}
