@import "bulma";

.is-selectable {
  cursor: pointer;

  &:hover {
    background-color: $white-ter;
  }
}

.is-bordered {
  border: 1px solid $grey-lighter;
}

.is-expanded {
  width: 100%;
}

// Allows us to use buttons for tabs, not <a>.
div.tabs.as-button {
  & ul {
    padding: 0;

    & li {
      margin-bottom: 0px !important;

      & button.button {
        border: none;

        box-shadow: none !important;
        border-radius: 0;

        &:hover {
          background: $button-text-hover-background-color;
        }
      }

      &.is-active {
        & button.button {
          color: $link !important;
          border-bottom: 1px solid $link !important;
        }
      }
    }
  }
}
