@import "styles/index.scss";

.city-block-placeholder {
  box-shadow: none !important;
  vertical-align: middle;

  &.none-selected {
    height: 80vh;
  }

  &:hover {
    cursor: pointer;
    background-color: $grey-light;
    box-shadow: $box-shadow !important;
  }
}
